/*------------------------------- footer------------------------------ */
.footer-v1 .footer {
  padding: 40px 0;
  background: #272727;
  font-size: 15px;
}

.footer-v1 .footer p {
  color: #eee;
  font-size: 15px;
}

.footer-v1 .footer h2 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 8px;
  font-size: 2.5rem;
  font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
  font-size: 15px;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
  color: #f4efef;
  text-decoration: none;
  font-size: 15px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
  background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Blog Posts (with images)*/
.footer-v1 .footer .posts .dl-horizontal a {
  color: #dadada;
}

/* -------------------------footer navbar ------------------------------------------*/

.footer-v1 .row-one {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.footer-v1 .copyright {
  background: #222;
  border-top: none;
  padding: 10px 0 5px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.footer-v1 .copyright p {
  color: #eee;
  margin-top: 14px;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-v1 .copyright a {
  margin: 0 2px;
  text-decoration: none;
  color: #777;
}

.footer-v1 .footer-socials {
  margin-top: 12px;
  text-align: right;
  text-decoration: none;
}
.footer-v1 .footer-socials i {
  color: #ffffff;
}
/*------------------------------ social media -------------------------------------*/
/* Social Media Icons */
.footer-socials {
  text-align: center;
  margin-right: 13px;
}

.social-i {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
}

/* Social Button Styles */
.social-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 45px; /* Adjust size as needed */
  height: 45px; /* Adjust size as needed */
  text-decoration: none;
  border-radius: 100%;
  background: #393939;
  margin: 0 5px; /* Adjust spacing as needed */
  transition: background-color 0.3s;
}

.social-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100%;
  background: transparent;
  transition: background-color 0.3s;
}

.social-button:focus,
.social-button:hover {
  background: #555555; /* Adjust hover color as needed */
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  color: white; /* Icon color */
}

/* Adjust icon size as needed */
.social-button i {
  font-size: 18px; /* Adjust icon size as needed */
}

.social-button svg {
  height: 24px; /* Adjust icon size as needed */
  width: 24px; /* Adjust icon size as needed */
}

/* Social Button Colors */
.social-button--mail {
  background: #0072c6;
}
.social-button--facebook {
  background: #3b5999;
}
.social-button--linkedin {
  background: #0077b5;
}
.social-button--github {
  background: #6e5494;
}
.social-button--codepen {
  background: #212121;
}
.social-button--steam {
  background: #7da10e;
}
.social-button--snapchat {
  background: #eec900;
}
.social-button--twitter {
  background: #55acee;
}
.social-button--youtube {
  background: #ff0000;
}
.social-button--instagram {
  background: #e4405f;
}
.social-button--npmjs {
  background: #c12127;
}

/*---------------------------- end social media------------------------------ */
@media (max-width: 991px) {
  .footer-v1 .copyright,
  .footer-v1 .footer-socials {
    text-align: center;
  }
}
